---
import { getCollection } from "astro:content";
import BlogHero from "../../components/BlogHero.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<BaseLayout title="Blog posts">
  <div class="mx-auto flex flex-col gap-4 prose-a:no-underline prose-img:my-0">
    <section>
      {
        posts.map((post) => (
          <a href={`/blog/${post.slug}/`} class="group">
            <BlogHero post={post} />
          </a>
        ))
      }
    </section>
  </div>
</BaseLayout>
