@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-display: swap;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "tnum" 1,
    "zero" 1,
    "ss01" 1,
    "cv11" 1,
    "ss03" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-display: swap;
    font-family: InterVariable, sans-serif;
  }
}
