@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-display: swap;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "tnum" 1,
    "zero" 1,
    "ss01" 1,
    "cv11" 1,
    "ss03" 1,
    "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-display: swap;
    font-family: InterVariable, sans-serif;
  }
}

.bg-pattern {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(
      #cdcfd2 0.8500000000000001px,
      transparent 0.8500000000000001px
    ),
    radial-gradient(#cdcfd2 0.8500000000000001px, #ffffff 0.8500000000000001px);
  background-size: 34px 34px;
  background-position:
    0 0,
    17px 17px;
}
