---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me">
  <img src="/avatar.jpg" alt="Yasin Kavakli's profile picture" class="w-32" />
  <p>I am 36 years old and working in tech for over a decade.</p>
  <hr />
  <p>
    I am also husband and father of two kids. My son is 6yo, started with
    elementary school and a 6mo daughter. Two years ago my wife and I have
    bought our dream house.
  </p>
  <hr />
  <p>
    I've worked as a IT-consultant/sysadmin for over 6 years, where I managed
    more than 100 Windows clients. This work also included managing the clients
    infrastructure, from networking to VPN connections, terminal server to file
    server and also Microsoft Exchange server in a high-availability
    configuration.
  </p>
  <p>
    This was also the time where I attended the evening school to learn coding
    (24h evening school and 38h fulltime job). In that job I've also automated
    many aspects of our daily job with PowerShell scripts or small C#
    applications.
  </p>
  <hr />
  <p>
    After that, I've worked as a .NET developer/consultant in the public sector
    helping to manage, update and extend an big and old ASP.NET WebForms
    application. That app needed a new frontend and I've lead the team that
    created a React frontend with TypeScript.
  </p>
  <hr />
  <p>
    In my current role I'm working as a Senior Frontend Developer, improving a
    Next.js application, extracting components and converting them to React
    Native, so they can be used for an iOS and Android app created with Expo,
    styled with Nativewind and deployed in a Kubernetes cluster.
  </p>
</BaseLayout>

<script>
  window.addEventListener("keydown", function (event) {
    const { key } = event;
    if (key === "Backspace") {
      this.location.href = "/";
    }
  });
</script>
