---
import DaaSLayout from "../layouts/DaaSLayout.astro";
---

<DaaSLayout title="Developer as a subscription">
  <div class="flex flex-1 flex-col">
    <section class="flex flex-row items-center justify-between px-3">
      <a href="/">yasin.kavakli.at</a>
      <a href="https://cal.com/yasinkavakli" class="rounded-md bg-gray-100 px-3 py-2 text-sm hover:bg-gray-800 hover:text-white">Book a call</a>
    </section>
    <div class="flex h-full flex-1 flex-col">
      <section class="prose max-w-none py-32 md:prose-2xl md:py-52">
        <div class="mx-auto w-auto max-w-5xl px-8">
          <h1>
            Hire an experienced developer.<br /><span class="font-extrabold italic">fast.</span>
          </h1>
          <p class="font-semibold">
            The current market makes it <span class="font-bold">really</span> hard for companies to find<span class="italic">qualified</span> freelancers for short or long form contracts. The market also makes it hard for freelancers to find the <span class="italic">right</span> clients.
          </p>
          <div class="bg-pattern h-16 w-full"></div>
          <p class="font-semibold">This is why <span class="font-black">DaaS (Developer as a subscription)</span> exists.</p>
          <p class="font-semibold">
            You can quickly get started and I could be working in your codebase tomorrow. Just setup a call to talk in detail. You can assign me as many tickets as you want, I'll work through them <span class="italic underline">one by one</span> until you are satisfied.
          </p>
          <h2 class="font-extrabold">So, how does it really work?</h2>
          <p class="font-semibold">
            After our initial call, you will receive a payment link for your chosen subscription and when you've set up your subscription, you grant me access to your chosen Git provider and ticketing system and you can start assigning tickets/items. I will start as soon as possible and work on your
            items one by one.
          </p>
          <p class="font-semibold">As soon as an item is finished, a pull request will be created and when you or your engineers accept the pull request, the item can be set to done and the work on the next item can start.</p>
          <div class="bg-pattern h-16 w-full"></div>
        </div>
        <div class="prose-invert mx-auto rounded-lg bg-gray-800 p-4 text-white md:m-8 md:px-16 md:py-32">
          <div class="mx-auto max-w-5xl">
            <h3 class="mt-0">Meet the team</h3>
            <div class="grid gap-12 md:grid-cols-2">
              <div class="flex flex-row items-center justify-between">
                <div class="flex w-full flex-col text-center text-base">
                  <span class="font-bold">Yasin</span>
                  <span>Backend guy (C# & Laravel)</span>
                </div>
                <img src="/avatar.jpg" class="not-prose size-48 -scale-x-100 rounded grayscale" />
              </div>
              <div class="flex flex-row items-center justify-between">
                <img src="/avatar.jpg" class="not-prose size-48 rounded sepia" />
                <div class="flex w-full flex-col text-center text-base">
                  <span class="font-bold">Yasin</span>
                  <span>Frontend guru (Next.js, React, Vue)</span>
                </div>
              </div>
              <div class="flex flex-row items-center justify-between">
                <div class="flex w-full flex-col text-center text-base">
                  <span class="font-bold">Yasin</span>
                  <span>Tailwind freak</span>
                </div>
                <img src="/avatar.jpg" class="not-prose size-48 -scale-x-100 rounded hue-rotate-180" />
              </div>
              <div class="flex flex-row items-center justify-between">
                <img src="/avatar.jpg" class="not-prose size-48 rounded" />
                <div class="flex w-full flex-col text-center text-base">
                  <span class="font-bold">Yasin</span>
                  <span>Tester</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-pattern mx-auto h-16 w-full max-w-6xl"></div>
        <div class="mx-auto max-w-5xl px-8">
          <div class="relative w-min">
            <h3>TL;DR</h3>
            <span class="absolute -right-24 top-0 rotate-12 rounded border border-red-400 bg-red-50 px-3 py-1.5 text-xs text-red-900">5 spots left</span>
          </div>
          <p class="font-semibold">
            This is a subscription service, just like your Netflix or Display Plus subscription. But you are getting an experienced developer for a monthly fee. You can pause or cancel your subscription anytime. Pricing starts at <span class="font-mono font-extrabold">€999</span>
          </p>
          <div class="mt-48 flex justify-center">
            <a href="https://cal.com/yasinkavakli" class="w-full rounded-md bg-gray-100 px-8 py-12 text-center text-xl font-bold no-underline hover:bg-gray-800 hover:text-white md:text-7xl">Book a call</a>
          </div>
        </div>
      </section>
    </div>
    <div class="h-8 w-full rounded-b-xl"></div>
  </div>
</DaaSLayout>
