---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Who am I?">
  <span class="mb-10 text-right font-mono text-xs font-semibold leading-tight tracking-tighter underline decoration-wavy underline-offset-4 opacity-50">btw, you can use keys to navigate this site</span>
  <h1>Grias di.</h1>
  <p>My name is <b>Yasin</b> and I am a fullstack developer from Austria.</p>
  <p>
    I have worked as a backend developer, frontend developer and fullstack developer for multiple years each. Currently starting <a href="/daas">DaaS</a>.
  </p>
  <p>I had the chance to work with the following technologies/frameworks and write code in these languages to date:</p>
  <p class="font-bold">React, Next.js, TypeScript, JavaScript, .NET (C#), Blazor, Laravel (PHP), Vue.js, Docker, Kubernetes, Swift, PowerShell, React Native, Expo and Bash.</p>
</BaseLayout>
