---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <img
    src="/me.png"
    alt="Picture of Yasin Kavakli with his daughter"
    class="h-64"
  />
  <h1>Hello, my name is Yasin.</h1>
  <p>
    I am a fullstack software developer with multiple years experience with
    programming languages and frameworks like C#/.NET, JavaScript, TypeScript,
    PHP, React, Vue.js, Angular, Laravel and Blazor.
  </p>
</BaseLayout>
