<div class="prose-base sticky top-16 mt-14 prose-p:my-0 prose-img:my-0">
  <div class="flex flex-row items-center gap-4">
    <img
      src="/avatar.jpg"
      alt="Avatar of Yasin Kavakli"
      class="size-12 overflow-hidden rounded-full border border-white/40 shadow-md ring-1 ring-white/10"
    />
    <p>Yasin Kavakli</p>
  </div>
</div>
