---
const { post } = Astro.props;
---

<div
  class="container relative mx-auto flex flex-col gap-4 prose-p:prose-base dark:prose-invert prose-headings:my-0 prose-p:my-0 prose-img:my-0"
>
  <h1>{post.data.title}</h1>
  <img
    src={post.data.heroImage}
    alt=""
    class="max-h-[200px] w-full rounded-lg object-cover"
  />
</div>
