---
import FormattedDate from "./FormattedDate.astro";
const { post } = Astro.props;
---

<div
  class="relative h-[360px] w-full overflow-hidden rounded-lg border border-white/40 shadow-md ring-1 ring-white/10 transition-all duration-300 ease-in-out group-hover:shadow-xl prose-headings:my-0 prose-p:my-0"
>
  <img
    src={post.data.heroImage}
    alt=""
    class="h-full w-full transition-all delay-75 duration-200 ease-in-out group-hover:scale-105"
  />
  <div
    class="prose-invert absolute bottom-3 left-3 right-3 rounded-b-lg rounded-t-md border border-white/20 bg-white/20 p-4 ring-1 ring-white/10 backdrop-blur"
  >
    <h2>{post.data.title}</h2>
    <p class="text-sm text-white">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </div>
</div>
