---
const today = new Date();
---

<footer
  class="container mx-auto my-4 flex flex-row items-center justify-between text-sm text-white"
>
  <p>Available for work</p>
  <a href="mailto:yasin@kavakli.at">yasin@kavakli.at</a>
</footer>
