---
const today = new Date();
---

<footer
  class="container mx-auto flex h-16 max-w-prose flex-row items-center justify-between"
>
  <p>Available for work</p>
  <a href="mailto:yasin@kavakli.at">yasin@kavakli.at</a>
</footer>
