---
import BackButton from "./BackButton.astro";
import HeaderLink from "./HeaderLink.astro";

const homepage = Astro.url.pathname;
---

<header class="w-full bg-white px-4 md:px-0 dark:bg-zinc-900">
  <div
    class="container mx-auto flex h-16 max-w-prose flex-row items-center justify-between"
  >
    <HeaderLink
      href="/"
      class="font-medium tracking-tight text-black dark:text-white"
    >
      yasin.kavakli.at
    </HeaderLink>

    <nav
      class="flex flex-row items-center gap-2 text-sm font-semibold uppercase text-neutral-400"
    >
      <BackButton />
      <HeaderLink
        href="/about"
        class="group rounded p-2 hover:bg-zinc-50 dark:hover:bg-zinc-800"
        title="About me"
      >
        About
      </HeaderLink>
      <HeaderLink
        href="/blog"
        class="rounded p-2 hover:bg-zinc-50 dark:hover:bg-zinc-800"
        title="Blog"
      >
        Blog
      </HeaderLink>
    </nav>
  </div>
</header>
