---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="text-base fixed w-full top-0 backdrop-blur-lg prose-a:no-underline z-10"
>
  <div
    class="container mx-auto p-4 flex lg:flex-row flex-col justify-between items-center"
  >
    <nav>
      <div class="flex flex-row gap-4">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>
    </nav>
    <div
      class="flex flex-row gap-6 dark:prose-a:text-slate-400 prose-a:text-slate-800"
    >
      <a
        href="https://twitter.com/yasinkavakliat"
        target="_blank"
        class="opacity-50 hover:opacity-100"
      >
        x.com
      </a>
      <a
        href="https://github.com/yasinkavakli"
        target="_blank"
        class="opacity-50 hover:opacity-100"
      >
        github.com
      </a>
    </div>
  </div>
</header>
