---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="overscroll-none scroll-smooth">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="prose prose-lg relative mx-auto flex min-h-screen w-full max-w-none flex-col bg-neutral-50 antialiased lg:prose-xl"
  >
    <div
      class="relative z-10 mb-[60vh] flex min-h-screen flex-grow flex-col overflow-hidden rounded-b-3xl bg-neutral-50 px-4 shadow-2xl shadow-black"
    >
      <Header />
      <main class="container mx-auto max-w-5xl py-12 md:px-0">
        <slot />
      </main>
    </div>

    <Footer />

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "70b90f9016914e0faab1191e5bca44c8"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
