---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-slate-200 dark:bg-slate-900 font-sans min-h-screen lg:prose-lg flex flex-col prose dark:prose-invert max-w-none h-screen antialiased scroll-smooth prose-hr:text-slate-500 prose-a:text-slate-600 dark:hover:prose-a:text-slate-400 hover:prose-a:text-slate-700 prose-img:rounded-lg relative"
  >
    <div
      class="max-w-2xl w-full h-1/2 absolute top-0 right-0 -z-10 rounded-full bg-gradient-to-bl from-pink-800 via-blue-700/20 to-green-500/20 blur-3xl"
    >
    </div>
    <Header />

    <div
      class="container mx-auto px-2 lg:px-0 flex justify-center flex-col flex-1 py-20 lg:py-12 relative"
    >
      <main class="p-4 max-w-prose">
        <slot />
      </main>
    </div>
    <Footer />
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "70b90f9016914e0faab1191e5bca44c8"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
