---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<article>
  <div class="">
    {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
  </div>
  <div>
    <div class="">
      <div class="">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1>{title}</h1>
      <hr />
    </div>
    <slot />
  </div>
</article>
