---
import type { CollectionEntry } from "astro:content";
import BlogHero from "../components/BlogHero.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<p class="text-sm text-zinc-400">
  Published on <FormattedDate date={pubDate} />
</p>
<BlogHero
  post={{
    data: {
      title: title,
      description: description,
      heroImage: heroImage,
      pubDate: pubDate,
    },
  }}
/>
<article>
  <slot />
</article>

<script>
  window.addEventListener("keydown", function (event) {
    const { key } = event;
    if (key === "Backspace") {
      this.location.href = "/blog";
    }
  });
</script>
