---
import type { CollectionEntry } from "astro:content";
import Author from "../components/Author.astro";
import BlogHero from "../components/BlogHero.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="group prose-img:my-0">
  <BlogHero
    post={{
      data: {
        title: title,
        description: description,
        heroImage: heroImage,
        pubDate: pubDate,
      },
    }}
  />
  <h3>{description}</h3>
  {
    updatedDate && (
      <p>
        Last updated on <FormattedDate date={updatedDate} />
      </p>
    )
  }
  <Author />
  <slot />
</article>
